
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
<!--  cutting link-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

<!--      cutting home-->

      <li class="nav-item">
        <a class="nav-link" href="{% url 'schoolstore_app:login' %}">Login</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'schoolstore_app:register' %}">Register</a>
      </li>
      <li class="nav-item dropdown {% if 'schoolstore_app' in request.path %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Department</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'schoolstore_app:allCourse' %}"></a></li>
                {% for cat in links %}
            <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
                {% endfor %}
        </ul>
          </li>
    </ul>
  </div>
    </div>
</nav>
